*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;  
}
.hero-section{

    background-image: url(room.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 100vh;
    max-width: 100vw;
    position: relative;/*whatever we are doing here is related to only this section*/ 
    /*text-align: center;            */
}

.hero-text{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}
.hero-text > h1{
    font-size: 40px;
}
.book-button,
.know-more{
    background-color: aqua;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.hero-section{
    text-align: center;
    margin-bottom: 20px;
}

.about-section{
    display: flex ;
    justify-content: space-around;
    align-items: center;
}
.about-heading,
.know-more,
.room-heading,
.form-heading{
    text-align: center;
    
}
.about-us{
    width: 50%;
}

ul li{
    list-style: none;
}
.fa-solid{
    margin-right: 10px;
}

.room-type-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0px 20px;
    margin-top: 20px;
}
.room-list{
    font-size: 20px;
}
.room-images img{
    max-width: 100%;
    border-radius: 10px;
}  
.about-section > h1{/*it is combinator selector.this represents its immediate child i.e, h1 in this*/
    text-decoration: underline;
}
.help-button{
    background-color: orange;
    width: fit-content;
    padding: 5px 15px;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    right: 0px;
    cursor: pointer;
}
.help-button h4{
    letter-spacing: 2px;
}
form{
    border: 2px solid gray;
    width: max-content;
    padding: 20px;
    border-radius: 20px;
}
.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}
label{
    font-size: 20px
}
input,
select{
    padding: 5px;
    font-size: 15px;
}

@media only screen and (max-width: 500px){
   .hero-text > h1{
        text-decoration: none;
         font-size: 1.5rem;
    }
    .about-heading,
    .room-heading,
    .form-heading{
    font-size: 1.5rem;
    text-decoration: underline; 
    } 
    .about-heading{
        margin: 0.5rem;
    }
    p{
        font-size: 1rem;
    }  
    .hero-text{
      width: fit-content;
    }
    .about-section,
    .room-type-container{
        display: block;
        padding: 0rem 0.5rem;
    }
    .about-us{
        width: 100%;
    }
    .hero-section{
        margin: 0rem;
    }
    .book-button,
    .know-more{
        font-size: 1rem;
    }
    .room-list h4{
        text-align: center;
    }
    form{
        margin: 0rem 0rem 2rem 0rem;
    }
    .form-heading{
        margin: 0.75rem 0rem;
    }
    label{
        font-size: inherit;
    }
}
@media only screen and (min-width: 501px) and (max-width: 980px){
    .hero-text > h1{
        text-decoration: none;
         font-size: 1.8rem;
    }
    .about-heading,
    .room-heading,
    .form-heading{
    font-size: 1.8rem;
    text-decoration: underline; 
    } 
    p{
        font-size: 0.9rem;
    }
    .room-images img{
        max-width: 380px
    }
    .form-heading{
        margin: 0.75rem 0rem;
    }
    label{
        font-size: inherit;
    }
    form{
        margin: 0rem 0rem 2rem 0rem;
    }
    
}